[2017-11-03 20:05] PeteHaitch opened #1 "What is the contract for the return value of these generics?"
Broadly, there are two types of operations performed by these matrix summarisations:

1. matrix-to-vector
2. matrix-to-matrix

To take two examples from **matrixStats**:

1. matrix-to-vector: `val <- colMedians(x)` results in `length(val) == ncol(x)`
2. matrix-to-matrix: `val <- colCummaxs(x)` results in `dim(val) == dim(x)`

Particularly for matrix-to-matrix ops where the input is a _DelayedMatri

[2018-05-01 17:37] PeteHaitch opened #2 "Options"
**matrixStats** 'owns' much of the API we (**DelayedMatrixStats**, **matter**, etc.) are trying to follow/mimic (the remainder is defined in **base**; there may be other generics we wish to add, e.g., `prcomp()`). However, for performance reasons **matrixStats** uses ordinary functions rather than S4 (or S3). We want S4 generic versions of the functions in the **matrixStats** API.

I'll have a go

[2018-05-21 20:15] PeteHaitch opened #3 "Questions on use of setGenericImplicit()"
Martin Maechler urged for the use of implicit generics in the earlier email discussion (https://stat.ethz.ch/pipermail/bioc-devel/2017-November/012308.html). Admittedly, I feel like I'm fumbling around a bit here with an incomplete understanding of the **methods** package, but I have tried to implement this, e.g.,
https://github.com/Bioconductor/MatrixGenerics/blob/584e23761c995b82b520dd0482ab9fa2

[2018-05-22 06:55] LTLA commented on #2
Something like 3a sounds like the way to go, if the **Matrix** maintainers are on board. All downstream packages would strictly provide method implementations and no further generics - this would include **matrixStats**. Performance-wise, I can't imagine the time spent in S4 dispatch is all that much, so I can't see that switching from raw functions to S4 is a big deal.

[2018-05-22 07:05] LTLA commented on #1
Another option might be to obtain the `BACKEND` implicitly from `options()`, after some `setBackEnd()` command; in case it is too unwieldy/non-general to ask that all methods include a `BACKEND=` in their definition. I think we have this already in `DelayedArray::setRealizationBackend`?

[2018-05-22 12:48] PeteHaitch commented on #1
I think we have that or something close to it for DelayedArray, but I'm also thinking about how to support other on-disk array-like structures, such as [**matter**](https://bioconductor.org/packages/matter/), which don't use the whole DelayedArray framework.

[2018-05-22 16:44] mtmorgan commented on #2
Better to check with @HenrikBengtsson about performance issues; my guess is that he's unwilling (rationally or otherwise!) to accept the cost. Also @mmaechler will of course have a significant stake in this...

[2018-05-27 21:14] mmaechler commented on #2
I'm not yet ready to delve into the discussion... but I tend to agree that there's a need for a "central" place for S4 generics.
Are you aware of *implicitGeneric*s  (in package 'methods')?  We had added quite a few there... but of course only for functions existing in base (or "base packages").
For other matrix-specific functions,  I'd tend to agree it would make sense to have them in (and subseq

[2018-05-27 22:27] PeteHaitch commented on #2
I'm aware, but unsure if I'm using them correctly (cf. https://github.com/Bioconductor/MatrixGenerics/issues/3)

[2018-05-28 19:34] HenrikBengtsson commented on #2
My take on this:  Overhead of method dispatching, and also `::`, is significant at some point and to some users in some use cases, e.g. millions of calculations of non-large matrices. You don't want to force unnecessary overhead on developers when it comes to time-critical processing.  This is one of the objectives/roles of the matrixStats package and there is a need for its highly performance-opt

[2019-09-30 15:12] const-ae opened #4 "Generics for a sparseMatrixStats package?"
Hi,

I have recently started to [implement](https://github.com/const-ae/sparseMatrixStats) the matrixStats API for column sparse matrices (`dgCMatrix`) from the `Matrix` package. I saw the [discussion](https://stat.ethz.ch/pipermail/bioc-devel/2017-November/012286.html) on the BioC mailing list where to put the S4 generics for those functions and wondered what the current status of the discussion

[2019-09-30 16:31] LTLA commented on #4
I would say that the best short-term solution is to PR into _DelayedMatrixStats_. DMS is already used by a range of packages, so any improvements to performance will have an immediate impact without requiring downstream changes. By comparison, if you made your own package, we would have to figure out where the generics are defined, and then modify downstream packages to use them, etc.

The best lo

[2019-09-30 18:06] hpages commented on #4
Hi Constantin,

A sparseMatrixStats package will be extremely useful! I would say that the easiest way for you to go is to define the matrixStats S4 generics in your package, like you've already started to do. Once your package is on CRAN or Bioconductor, it will be easy to modify DelayedMatrixStats to import the generics from sparseMatrixStats. Then we'll be able to take advantage of the methods

[2019-10-02 12:42] const-ae commented on #4
Hi,
thank you for the feedback. I get the impression that the question of the generics for matrixStats is still openly debated, so I will for now follow Hervé's advise and keep the generics defined in my package.
@LTLA, I am not convinced that it is a good idea to merge the sparseMatrixStats functions into the DMS package, because I think that it would be confusing to have this functionality under

[2019-10-02 21:36] PeteHaitch commented on #4
I think a dedicated **sparseMatrixStats** is simpler than making it a part of **DelayedMatrixStats**.

I'd be happy to **DelayedMatrixStats** to disappear if its functionality can be absorbed by more 'key' packages.

[2019-10-02 23:00] LTLA commented on #4
Well, someone has to take responsibility for defining `ANY` methods for the generics. Without those, I can't use unwrapped versions of the functions in my packages. (Currently they are wrapped as, e.g., `colVars(DelayedArray(X))`.) And if they're not unwrapped, I lose any benefit of a specialized method, unless DMS is smart enough to dispatch on the seed's class if the object is pristine.

And the

[2019-10-03 06:18] hpages commented on #4
@LTLA Agreed.

@const-ae I think that if sparseMatrixStats imports matrixStats, then a minimalist `setGeneric` statement of the form `setGeneric("rowMedians", signature="x")` automatically sets `matrixStats::rowMedians()` as the `ANY` method. So that's really all what the `setGeneric` statements in sparseMatrixStats should be. Thanks!

[2019-10-03 11:31] const-ae commented on #4
I am not sure yet that it is a good idea to just take turn the `matrixStats` functions into generics for two reasons:

First, the method signatures contain arguments that are purely for speed considerations and not every extension would want to implement (see for example the [`.dim`](https://www.rdocumentation.org/packages/matrixStats/versions/0.55.0/topics/rowMedians) argument).

Second, `matrixS

[2019-10-03 16:50] hpages commented on #4
I agree that sometimes not all the arguments in the original function make sense for the generic. This can be handled with something like:
[code]
Note that this is equivalent to:
[code]

**About the default methods not supporting any object**

Short answer: It's important to realize that, whatever you do, the default methods won't be able to support any object (many objects in R simply can't be tu

[2019-10-03 16:50] LTLA commented on #4
And there's the rub.

1. An `ANY` method must be available, otherwise downstream packages cannot safely use the  generic with any object that claims to be a matrix-like.
2. We can't coerce to a sparse matrix, because there is no guarantee that the input is sparse.
3. Coercion to a DelayedArray requires a dependency on DMS. Difficult to do from CRAN.

If SMS is its own package, the least-worst solu

[2019-10-03 17:27] hpages commented on #4
Also this works for BiocGenerics generics because a specific method for object A is generally defined in the same package where class A itself is defined. So when you call `foo()` on an object of class A, it's very likely that the package where the `foo()` method for A objects is defined is already loaded. Thus you're right that in that aspect the situation with Matrix/matrixStats/sparseMatrixStat

[2019-10-04 09:46] const-ae commented on #4
First of all, thank you both for taking the time to discuss and explain the issues to me.

In the following, I will try to summarize the different options that I understood so far, using an example to make the options clearer:

Let's imagine there is a Bioinformatician who wants to analyze some dataset with rows and columns using the SingleCellAnalysisPackage (SCAP). We develop SCAP and want to ma

[2019-10-04 16:07] LTLA commented on #4
Not sure what 3 is meant to be; if we could do that, we wouldn't have any problems...

Anyway, 7 just passes the buck to another level of S4 dispatch. It's good to use that _within_ sMS to handle all **Matrix** classes without rewriting a lot of code, but it doesn't solve our `NewMatrixType` problem, which fundamentally involves resolving inter-package dependencies.

My personal S4 policy is to on

[2019-10-07 09:11] const-ae commented on #4
You are right, it wouldn't solve the inter-package dependencies problem, but it might make it a little bit more likely that the developer of a `NewMatrixType` package would just implement the one `wrap_for_matrixstats()` generic instead of having to implement all 69 functions of the `matrixStats` interface.

Oh, okay. Yes that seems to be a good heuristic, which I will adopt for myself in the futu

[2019-10-07 10:53] PeteHaitch commented on #4
Please do go ahead, @const-ae!

[2019-10-07 17:04] hpages commented on #4
I'm still not sure I like that `wrap_for_matrixstats(x)` returns `as.matrix(x)` by default. First because if a user calls `rowVars()` on a DelayedMatrix object or derivative (e.g. TENxMatrix) but doesn't have the DelayedMatrixStats package on the search path, I'd rather have this fail rather than hang her system. Also because, even though `as.matrix()` works on things like an ordinary array, it do

[2019-10-07 22:04] mmaechler commented on #4
hmmm,  as said earlier,  I think it's a good idea in principle and I
am "conceptually"  willing to  add things to Matrix for that purpose.
Can you propose patches (as small as possible !!)  ?  (including
NAMESPACE and man/*.Rd  additions) ?
Matrix is developed on R-forge (with svn / subversion), but you can
take a svn2git  version of its source if you want:

         https://r-forge.r-project.org/

[2019-10-08 07:34] LTLA commented on #4
I got the party started [here](https://github.com/LTLA/Matrix) - mostly to tackle the "double `p`" transition that I was discussing with @mmaechler offline - but others may benefit from forking this rather than repeating the git-svn transition themselves (it took about half an hour on my machine).

[2019-10-08 09:14] const-ae commented on #4
@hpages, you make some good points and I think I now agree that an informative error message is more helpful for the user than some code that runs painfully slow or just randomly crashes because R runs out of memory.

[2019-10-08 09:18] const-ae commented on #4
am "conceptually"  willing to  add things to Matrix for that purpose.

@mmaechler, that is great to hear, thank you for the input. Just to clarify what extend of changes you would be "conceptually" willing to accept?

- The definition of the generics corresponding to the `matrixStats` API?
- An implementation for those generics for the sparse matrices?
- An implementation for those generics along

[2019-10-08 13:33] mmaechler commented on #4
yes, if they don't give contradictions with current Matrix and base code.

Here you mean *methods* , right?
Yes, it should make sense to have methods for some of the new generics and the Matrix classes.

No, sorry.  Matrix is so close to base R, I cannot deal with the consequences of making it depend on Rcpp.   We could consider Matrix (pkg) methods which use a package in 'Suggests' and try to use

[2019-10-08 14:10] const-ae commented on #4
I very much understand and agree that with such a fundamental packages it is reasonable to be conservative.

I did have a look at the `colSums()` [implementation](https://r-forge.r-project.org/scm/viewvc.php/pkg/Matrix/src/t_gCMatrix_colSums.c?view=markup&root=matrix) in `Matrix` and unfortunately I am lacking the depth of knowledge in C to implement something similar for the other functions. Thus

[2019-10-09 07:35] mmaechler commented on #4
I'm not entirely happy with your conclusion @const-ae.   Yes, it would've been great if you'd be willing to learn the relatively litte more C needed to these in C rather than via the Rcpp detour (which for the programmer is a shortcut, of course!).
But I did mention the other alternative of providing those methods differently, namely via simple R code wrappers that may call into your package code

[2019-10-09 19:01] LTLA commented on #4
@const-ae I think you should just start by picking one generic - say, `colVars` or `rowVars`, which is immediately useful to a lot of people - and try to implement it for `dgCMatrix`s. I have worked directly with the C API before (`PROTECT` and `UNPROTECT`, registering routines, etc.) so I can give some help with writing it up in C; and so can most other participants in this discussion. This shoul

[2019-10-10 09:53] hpages commented on #4
Here is my take on this: https://github.com/hpages/sparseMatrixColVars/blob/master/src/colVars.c

No need to alloc anything besides the vector to return.

[2019-10-10 11:09] const-ae commented on #4
Thank you all again for your input.

I did give it a try and wrote for the `colVars()` function the generic and some pure R methods that call `matrixStats` if it is available: https://github.com/const-ae/Matrix/blob/master/pkg/Matrix/R/colVars.R

However, I am struggling right now a bit to actually rebuild the package. Is there an equivalent for `devtools::load_all()` available? Or what kind of wo

[2020-03-15 21:12] const-ae opened #7 "BioConductor Submission"
I believe the package is now almost ready for submission.

I ran checks with winbuilder and rhub, which were fine.
However, `BiocCheck` complained about the following things:

1. `NOTE: Consider adding these automatically suggested biocViews: DataImport`
2. `NOTE: Consider adding a NEWS file, so your package news will be included in Bioconductor release announcements.`
3. `Consider shorter lines;

[2020-03-15 22:50] PeteHaitch commented on #7
My 2 cents: NOTE 1 seems a false-positive, 2 I think we should have (it might just be a skeleton for future releases), 3 is nice to have but not essential, 4 I also ignore because I use 2-space tabs, 5 is easily fixed (my email in the DESCRIPTION is subscribed to bioc-devel, perhaps yours isnt'?)

The vignette would be developer-focused I think. It could conceivably give some examples of writing s

[2020-03-16 08:01] const-ae commented on #7
Great! Thank you for your support.

I will then shift my focus and will try to get `sparseMatrixStats` ready as well :)

[2020-03-16 19:11] LTLA commented on #7
I, too, am looking forward to this.

Note that **DelayedMatrixStats** will probably need to re-export **MatrixGenerics** generics so as to provide a smooth transition for packages that currently `importFrom(DelayedMatrixStats, ...)`.

FYI my initial `NEWS` files are usually just "Added new package **BLAH** to Bioconductor.".

[2020-03-19 20:51] PeteHaitch commented on #7
Have started on this but my week has been sidetracked by bigger things.
Will continue next week, still time to get in for next release

[2020-03-20 10:36] const-ae commented on #7
Sure, no problem. If you need help with anything, let me know :)

[2020-03-29 14:54] const-ae commented on #7
Hi Pete,  I just wanted to ping you about the status of the submission and if there is anything I can help you with it?
I would like to submit `sparseMatrixStats` to BioConductor this release cycle as well. But I cannot go ahead as long as `MatrixGenerics` is not submitted.

[2020-03-30 22:45] PeteHaitch commented on #7
Almost there.
Just ironing out some bugs in **MatrixGenerics** I found when I tried integrating it into **DelayedMatrixStats**.

[2020-03-31 04:04] PeteHaitch opened #9 "Why are only some `ties.method` in `rowRanks()` supported?"
Why was this necessary @const-ae ?

[2020-03-31 07:41] const-ae commented on #9
I decided to reduce the available `ties.methods` not out of necessity, but to ease extension.
For reference, `base::ranks()` supports:
* `c("average", "first", "last", "random", "max", "min")`

and `matrixStats::rowRanks()` supports:
* ` c("max",  "average", "first", "last", "random", "max", "min", "dense")`

I felt that the it could be an undue burden to ask each extension to implement 7 differen

[2020-03-31 09:02] const-ae opened #10 "Why ... for every default function?"
If see it correctly, in https://github.com/Bioconductor/MatrixGenerics/pull/8/commits/81aa9cd4b298f489fe2557107f988e6ea5972f27 you added `...` back to every function, right?

If matrixStats explicitly states in the documentation that the `...` are not used within a function, I am not sure  what is the advantage of having it in the method signature?

[2020-03-31 09:09] const-ae commented on #7
It looks great. Thank you so much :)

[2020-03-31 20:26] PeteHaitch commented on #10
It seemed better that `foo,matrix-method` defined in **MatrixGenerics** exactly matched `matrixStats::foo()` but I could be persuaded otherwise.
I kept them there in case Henrik starts using `...` in `matrixStats::foo()`.
FWIW there are some `matrixStats::foo()` that do use `...`, e.g., `matrixStats::colQuantiles()`.

[2020-03-31 20:31] const-ae commented on #10
Oh, I see you also added some tests that test if the signatures are equal. That is a good idea.

Yeah, okay. I guess that makes sense. I will close this issue then :)

[2020-03-31 20:31] #10 closed

[2020-04-16 07:22] const-ae commented on #7
I guess we can close this one now (https://github.com/Bioconductor/Contributions/issues/1448#issuecomment-614401206). Thank you @PeteHaitch for taking care of the submission :)

And thank you all for the great collaboration, I am looking forward to to integrate `MatrixGenerics` in my packages and support all kinds of different matrices :)

[2020-04-16 07:22] #7 closed

[2020-04-18 14:17] const-ae opened #11 "Warnings on Tokay2 about Missing Links in the Documentation"
Hey Pete,

I just noticed that CHECK for `sparseMatrixStats` has many warnings which derive from `MatrixGenerics` http://bioconductor.org/checkResults/devel/bioc-LATEST/MatrixGenerics/tokay2-checksrc.html

There was recently some discussion on the Bioc-devel mailing list on a similar issue https://stat.ethz.ch/pipermail/bioc-devel/2020-April/016552.html

I just wanted to check if you are already l

[2020-04-19 22:12] PeteHaitch commented on #11
Thanks for the report, I'll fix this week

[2020-04-20 06:37] const-ae commented on #11
Great :)

[2020-04-23 23:37] PeteHaitch commented on #11
Should be fixed by 87967842f1be01fd1b2a8ba06b1d961104a65395.
It gets a clean check on my Windows VM, at least.

[2020-04-24 05:58] const-ae commented on #11
Nice, thank you for taking care :)

[2020-04-28 12:42] const-ae commented on #11
Hi Pete,

there are still problems with the missing links for functions that are documented in a different Rd file in `matrixStats`: http://bioconductor.org/checkResults/devel/bioc-LATEST/MatrixGenerics/tokay2-checksrc.html

I created a pull request #12 that hopefully fixes the problem. However, I don't have a windows machine, so it would be great if you could test the fix.

Best, Constantin

[2020-04-28 13:53] PeteHaitch commented on #11
Yeah I saw those warnings. I'll deal with them after the release

[2020-05-21 07:21] #11 closed

[2020-10-09 02:24] hpages opened #17 "test-api_compatibility.R needs an update to accommodate an upcoming change in matrixStats"
@const-ae Hi Constantin,

Do you think you can take care of [this](https://github.com/HenrikBengtsson/matrixStats/issues/183#issuecomment-705901526)?

Thanks,
H.

[2020-10-09 09:11] const-ae commented on #17
Sure, I'll take a look

[2020-10-15 01:16] PeteHaitch commented on #4
Closing now that we have [**sparseMatrixStats**](https://bioconductor.org/packages/sparseMatrixStats/).

[2020-10-15 01:16] #4 closed

[2020-10-19 22:18] #17 closed

[2020-10-19 22:18] PeteHaitch commented on #17
Closed by #18

[2020-10-22 09:39] const-ae opened #19 "Build Report Warning: File link 'rowRanges' in package 'SummarizedExperiment' does not exist"
I just checked the build report and noticed that there is a [WARNING](https://bioconductor.org/checkResults/3.12/bioc-LATEST/MatrixGenerics/tokay1-checksrc.html) on windows concerning the documentation of rowRanges

[code]

As the deadline is tomorrow, does anyone have capacity to fix the issue today? I assume the problem was introduced here by @hpages's commit to make `rowRanges` compatible with

[2020-10-22 15:40] hpages commented on #19
I tend to ignore these "treated as a topic" warnings on Windows as the whole thing makes little sense. Anyways I agree that the warnings don't make MatrixGenerics look good so I'll look into it. Don't worry too much about tomorrow's deadline.

[2020-10-22 15:57] mtmorgan commented on #19
I *think* that R-devel (to be used in the Bioconductor 3.13 builds) addresses this so that it is not a NOTE... From the NEWS.Rd:
[code]

[2020-10-22 16:47] hpages commented on #19
Finally! Great news

[2020-10-22 16:49] hpages commented on #19
I don't understand why that would even be a NOTE but it's a day to celebrate not to complain ;-)

[2020-11-26 18:09] HenrikBengtsson opened #20 "Argument 'center' package tests"
With the new 'develop' branch **matrixStats** version, I [know get](https://github.com/HenrikBengtsson/matrixStats/blob/1b68d5cb946f2c8c86522b2e19837f99cbc7425d/revdep/problems.md#matrixgenerics):

[code]

This is related to https://github.com/HenrikBengtsson/matrixStats/issues/183.  I've deprecated `length(center) == 1` but for now it's still valid when arguments `rows` and `cols` are _not_ speci

[2020-11-26 18:19] HenrikBengtsson opened #21 "CRAN instead of Bioconductor?"
Have you guys considered releasing this package and [matrixStats](https://github.com/HenrikBengtsson/sparseMatrixStats) derivatives ([DelayedMatrixStats](https://github.com/PeteHaitch/DelayedMatrixStats) and [sparseMatrixStats](https://github.com/const-ae/sparseMatrixStats)) on CRAN rather than Bioconductor?  AFAIU, there's nothing specific to Bioconductor in them.

Having them on CRAN would reach

[2020-11-26 18:22] HenrikBengtsson commented on #21
Ah... I hit submit before adding:

(*) Yes, DelayedMatrixStats depends on other Bioconductor packages to support specific data types but maybe those could be Suggest:ed dependencies?

[2020-11-26 18:25] LTLA commented on #21
DMS has some pretty hard dependencies on the BioC stack; DA isn't really optional, as the whole purpose of DMS's existence is to wrap **matrixStats** methods for `DelayedArray` objects. Installing DMS without installing DA wouldn't make much sense.

[2020-11-26 18:50] HenrikBengtsson commented on #21
Ok. So, if not possible for **DelayedMatrixStats**, the question/suggestion remains for **MatrixGenerics** and **sparseMatrixStats**.

[2020-11-26 19:30] LTLA commented on #21
I'll throw in my 2c.

I had also considered this question for a few of my packages that don't really have a hard BioC dependency, e.g., **basilisk**, **beachmat** (<2.1). These are infrastructure packages that could have been generally useful on CRAN. In the end, I decided against it in favor of the BioC build system for a variety of reasons:

- Familiarity. This goes both ways - the BBS maintaine

[2020-11-26 20:53] hpages commented on #20
Why deprecate `length(center) == 1`? The only interesting use of `rowVars(x, center=my_center)` that I'm aware of, besides `center=rowMeans(x)`, is `center=0`. Not sure why people would be required to do `rowVars(x, center=rep(0, times=nrow(x)))` when they could just do `rowVars(x, center=0)`.

[2020-11-26 21:12] hpages commented on #21
Yep, for all these reasons.

Note that you could also make that case for **S4Vectors**, **IRanges**, and a few other core infrastructure packages. There's nothing specific to Bioconductor about Rle, DataFrame, Hits, IRanges, Views, or NumericList objects. It's just that maintaining such a complex class hierarchy on CRAN would not be practical. It's a lot easier with fast cycles between pushes and

[2020-11-26 21:13] HenrikBengtsson commented on #20
... to get feedback like this :p  So, maybe `center = 0` should be a special case then, but only that one.  Or?

In the bigger picture and related to https://github.com/HenrikBengtsson/matrixStats/issues/187, this comes down to what the true identity of `center` should be.  Right now, it serves different purposes and it has caused problems.  Tighten up what's allowed and not helps to get to the tr

[2020-11-26 21:31] HenrikBengtsson commented on #20
And regarding the special case of `center = 0`, does that apply to all other functions that take argument `center` or only for `{col,row}Vars()`?  What about the weighted versions?

[2020-11-26 22:20] HenrikBengtsson commented on #21
Happy Thanksgiving to you too.

[2020-11-26 23:04] PeteHaitch commented on #21
My reasons are similar to @ltla and @hpages, although not as strongly held/felt since I don't maintain anywhere near as many packages as they (or you, @HenrikBengtsson) do!

I do still think there might scope for **MatrixGenerics** (and perhaps even **sparseMatrixStats**) to be on CRAN since there's nothing specific to Bioconductor about these and they are quite tightly coupled to **matrixStats**

[2020-12-06 22:09] const-ae commented on #21
I am just catching up again with my Github issues, sorry.

One of the contributing factors for me was that `MatrixGenerics` repo already existed under the Bioconductor brand on GitHub. And it felt natural to put  `MatrixGenerics` and `sparseMatrixStats` on Bioconductor together.

I would also be fine with moving `MatrixGenerics` and `sparseMatrixStats` to CRAN. I maintain packages at both reposito

[2020-12-06 22:27] const-ae commented on #20
I fixed the tests for MatrixGenerics. They don't use the scalar `center` argument anymore, but a proper estimate of the mean for `colVars`, `colSds`, `colWeightedVars`, and `colWeightedSds`.

As far as I can see the best place to continue the discussion around `center = 0`, is at https://github.com/HenrikBengtsson/matrixStats/issues/193. So I will close this issue for now :)

But feel free to reop

[2020-12-06 22:27] #20 closed

[2021-01-21 19:26] HenrikBengtsson opened #22 "matrixStats: Next release will break MatrixGenerics 1.2.0 package tests"
Hi, I'm submitting the next release of matrixStats to CRAN.  Reverse-package dependency checks show that out of 313 packages, MatrixGenerics package is the only package where its package tests fail (see below).  These package tests are related to the tidying up and robustification of the `center` argument.

Since MatrixGenerics 1.2.0 is part of Bioconductor _release_, it needs to be "bug fixed" th

[2021-01-21 20:31] PeteHaitch commented on #22
Thanks, Henrik. I can take a look over the weekend (it's already Friday morning here)

[2021-01-21 20:32] const-ae commented on #22
I already fixed some stuff in https://github.com/Bioconductor/MatrixGenerics/tree/develop

I am in a meeting right now, but also can take a look in the coming days :)

[2021-01-21 20:35] PeteHaitch commented on #22
ah i hadn't seen that. Can I leave you to merge those changes in first, @const-ae ?

[2021-01-21 21:09] const-ae commented on #22
Sure, but I will probably be only able to do this tomorrow afternoon (it's still Thursday evening here).

[2021-01-21 22:38] const-ae commented on #22
Okay, this wasn't as bad as I was afraid it might be. https://github.com/Bioconductor/MatrixGenerics/commit/4b1b995b05359676459ef6739889d8ad59a0ffd0 should make MatrixGenerics compatible with the upcoming matrixStats release. At least on my computer all tests succeed with the new matrixStats version. But please check again that I didn't mess anything up, I had a few issues getting the git commit h

[2021-01-21 22:58] PeteHaitch commented on #22
Thanks! It passes `R CMD check` (just an existing `WARNING`) on my system (macOS).

I'm not sure that's necessary because we have `release` and `devel` branches in BioC, with (github) `master` basically tracking the `devel` BioC branch. But perhaps I've misunderstood.

I think we'll need to push this fix to the `devel` branch and patch the `release` branch (hopefully using `git cherry-pick`) once

[2021-01-21 23:02] HenrikBengtsson commented on #22
Thanks for this.

I've verified that it's now fixed using:

[code]

I tested against the upcoming matrixStats 0.57.0-9001 (to become 0.58.0).

However, when testing against matrixStats 0.57.0, I get:

[code]

Right now, I'm not sure if that's on me or on you.

My other concern is that MatrixGenerics 1.3.0 is the Bioc devel version - is that a mistake?

I don't think that is "valid" version to depe

[2021-01-21 23:11] HenrikBengtsson commented on #22
Oh...

[code]

seems like a potentially complicated update for you.  You'd have to do something like:

[code]

to make this compatible with matrixStats 0.57.0 as well.

[2021-01-26 14:45] HenrikBengtsson commented on #22
Oh, are you waiting for me? ... because I was actually waiting for you to patch before so my update doesn't break your package.

[2021-01-26 23:14] PeteHaitch commented on #22
Sorry for the delay, Henrik. I received some sad personal news over the weekend but I'll try to address this today or tomorrow.

[2021-01-27 00:06] HenrikBengtsson commented on #22
I'm sorry to hear. No rush - whatever and whenever you prefer. Take care.

[2021-01-29 05:25] PeteHaitch commented on #22
After some fussing about I *thought* I had it sorted, but now that I write this I'm not sure if it's how you wanted it done @HenrikBengtsson ...

Both of the following versions of **MatrixGenerics** pass `R CMD check` for me with **matrixStats** `v0.57.0.9001` (https://github.com/HenrikBengtsson/matrixStats/commit/60551ca1a168d1f54f48abcd2132f8b6c986204e)
- f66204eb36ec33018b94f715226d621553eed5a1

[2021-01-29 05:45] HenrikBengtsson commented on #22
AFAIK, CRAN doesn't care about broken revdep packages on Bioconductor, so in that sense it's not a blocker.

I can submit to CRAN if it's ok with Bioc that it'll break MatrixGenerics tests.  (It's not break the functionality so no one should be affected). Is that OK?

The alternative is to patch the package tests of MatrixGenerics so they run conditionally on matrixStats version.

[2021-01-29 06:43] PeteHaitch commented on #22
I'm fine with a temporary breaking of tests and prefer that to implementing conditional testing

[2021-01-29 15:38] HenrikBengtsson commented on #22
Righty-oh.  I'll go ahead and prepare for my CRAN submission.

[2021-01-30 00:45] HenrikBengtsson commented on #22
[matrixStats 0.58.0](https://cran.r-project.org/web/packages/matrixStats/index.html) is now on CRAN;

[2021-01-30 00:54] PeteHaitch commented on #22
I'll push to bioc later today. Thanks Henrik!

[2021-01-30 10:42] PeteHaitch commented on #22
And done. I'll keep an eye out for the next build report to make sure there's no surprises.

[2021-01-30 10:42] #22 closed

[2021-04-09 01:46] #19 closed

[2021-04-09 01:50] LiNk-NY commented on #19
This looks to have been resolved...

[2021-06-21 20:49] HenrikBengtsson opened #23 "Heads up: New `useNames` argument coming"
Hi. We're gonna introduce a new argument `useNames=NA/FALSE/TRUE` in several **matrixStats** functions.  We just added a 100%-backward compatible `useNames=NA` placeholder and rerun 347 revdep checks.

It turns out **MatrixGenerics** has package tests (e.g. https://github.com/Bioconductor/MatrixGenerics/blob/9a5b3671e67dc2164666e7266d096004b9d78d1d/tests/testthat/test-api_compatibility.R#L1240-L12

[2021-06-21 23:20] PeteHaitch commented on #23
Thanks for the heads up, Henrik.
Later in the week I'll have a think about how to handle the migration in BioC release (BioC devel can either use the same approach or just be broken for a day or 2 around the window **matrixStats** is updated on CRAN)

[2021-06-23 16:21] HenrikBengtsson opened #24 "HEADS UP: New default for `ties.method` of {col,row}Ranks()"
# Background

**matrixStats** uses `ties.method = "max"` as the default for `colRanks()` and `rowRanks()` for legacy reasons, but we want eventually update to `ties.method = "average"` to align it with `base::rank()`, cf. https://github.com/HenrikBengtsson/matrixStats/issues/142.

The process for this migration with be:

1. Give a deprecation warning if `ties.method` is not explicitly specified (l

[2021-06-25 11:09] const-ae opened #25 "Function only found on second attempt for sparse input"
Hi,

I am trying to use a function from `MatrixGenerics` using the `::` notation. However, it only works on the second attempt:

[code]

<sup>Created on 2021-06-25 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

I assume this is related to the whole discussion in https://github.com/Bioconductor/MatrixGenerics/pull/16#issuecomment-707545240. @hpages, do you know what is causin

[2021-06-25 14:17] const-ae commented on #25
PR #26 fixes the issue (I think), but it would be good if someone could look it over because this was a very deep dive for me into function environments, and my head is still buzzing

[2021-06-30 09:51] #25 closed

[2021-07-26 21:21] HenrikBengtsson commented on #23
UPDATE: [matrixStats 0.60.0](https://cran.r-project.org/web/packages/matrixStats/index.html) is now on CRAN with a new `useNames=NA` argument for many function.

[2021-08-02 07:47] PeteHaitch commented on #23
Thanks, @HenrikBengtsson. I was on leave last week but I have now addressed this in the devel and release branches by bumping the minimum **matrixStats** version to `v0.60.0` and making the necessary changes to the generics and methods.

Could you please clarify why `matrixStats::colQuantiles()`/`matrixStats::rowQuantiles()` have `useNames = TRUE` while all other functions that had `useNames` adde

[2021-08-02 10:31] HenrikBengtsson commented on #23
That's a mistake; it was meant to be `useNames = NA` like everything else.  We're working on implementing `useNames` support in native code - in the current release it was implemented using R.  This mistake will be fixed in the next release (https://github.com/HenrikBengtsson/matrixStats/issues/208).

[2021-08-03 01:57] PeteHaitch commented on #23
No worries, thanks for the clarification.
I think I'll keep the mistake and change it when the corresponding update is made to **matrixStats**.

I need to familiarise myself with the work you are doing regarding `useNames` - are there particular branches I should be following?

[2021-08-05 09:30] const-ae commented on #23
Hi Pete,

was it a deliberate choice to fix `useNames = NA` when _MatrixGenerics_ passes on the call to _matrixStats_ instead of `useNames = useNames`?

https://github.com/Bioconductor/MatrixGenerics/blob/16ebd0e0197d4985f98a449563e212ee9bfbc17f/R/rowSums2.R#L60-L62

[2021-08-05 10:39] PeteHaitch commented on #23
Hi @const-ae,

No it wasn't a deliberate choice, I think I just did it in haste :/
Perhaps I should change that. Is that what you think?

[2021-08-05 10:41] PeteHaitch commented on #23
I've also now spotted a few places where in my haste I didn't pass on `useNames` at all, e.g.,
https://github.com/Bioconductor/MatrixGenerics/blob/2953ce705476b5135cda21c4616acab7de6c3edc/R/rowAnys.R#L40-L42

[2021-08-05 10:42] const-ae commented on #23
Yes, I think that should be changed. But I don't think it's urgent, I just noticed it while trying to add the `useNames` parameter to _sparseMatrixStats_.

[2021-08-05 10:42] PeteHaitch commented on #23
I'm going through all these `.matrixStats_foo()` functions to check that `useNames` is properly passed on.

[2021-08-05 10:44] const-ae commented on #23
Yeah, maybe this could actually be a good motivation to add some unit tests that automatically compare if the signature of the `.matrixStats_[XXX]` functions are compatible with the generics.

If I get the _sparseMatrixStats_ stuff done quickly, I could give this a stab :)

[2021-08-05 10:49] PeteHaitch commented on #23
That's a good idea. I don't have time for it right now but I'll push the code changes within the hour.

[2021-08-05 10:50] PeteHaitch commented on #23
Although it's not actually the signature of the `.matrixStats_[XXX]` functions but the internals where the problem was ...

[2021-08-05 11:41] PeteHaitch commented on #23
Double checked and fixed these in devel and release.
Should be available in a day or two. Thanks again, @const-ae!

[2021-08-05 11:41] #23 closed

[2021-08-05 13:15] const-ae commented on #23
FYI, in https://github.com/const-ae/sparseMatrixStats/commit/eaab67410f5c630ea9cec8900c3f62287a0d630d I added support for `useNames` to _sparseMatrixStats_

[2021-11-10 01:40] evanbiederstedt opened #27 "Issue with matrixStats (>= 0.60.1)"
Hi there

I have some errors in my CI/CD pipeline related to MatrixGenerics.

From what I see here, the package depends on `matrixStats (>= 0.60.1)`: https://github.com/Bioconductor/MatrixGenerics/blob/master/DESCRIPTION#L24

http://bioconductor.org/packages/release/bioc/html/MatrixGenerics.html

This results in an error, as the version on CRAN is only 0.60.0

Indeed, the version on GitHub also do

[2021-11-10 01:49] HenrikBengtsson commented on #27
The version on CRAN is 0.61.0, cf. https://cran.r-project.org/package=matrixStats

[2021-11-10 01:51] evanbiederstedt commented on #27
Uff, sorry; I misread.....sorry about that.

In that case, let me debug my CI pipeline :)

Sorry for the false alarm---apologies for wasting your time. I appreciate the quick response @HenrikBengtsson

Issue closed.

[2021-11-10 01:51] #27 closed

[2022-06-03 16:56] rcastelo opened #28 "Problem with the generic for 'rowLogSumExps()'"
Hi,
I'm facing a problem that I think has to do with the entry in `MatrixGenerics` for `rowLogSumExps()`. See the following definition:

[code]
The method for class `ANY` takes `lx` as argument, but the associated code tries to call a function with an non-existing object `x`, which should have been `lx`. The context in which I'm finding this is in a call to `rowLogSumExps()` that works interactive

[2022-06-03 17:38] const-ae commented on #28
Hi Robert,

I have made a pull request that should fix the issue. I have simply replaced the call to the helper function `make_default_method_def()` with the correct method body for the `rowLogSumExps()`  with `lx = ANY` function.
@PeteHaitch, @hpages, could you take a look and merge the PR if you think that my fix is reasonable?

Best,
Constantin

[2022-06-03 17:49] const-ae commented on #28
@rcastelo, I am a bit confused about the "unrelated" error that you have posted:

To me, this sounds like some other problem as none of the xxxMatrixStats packages that I am aware of supports `dgeMatrix` objects. How did you come to the conclusion that these two problems are related?

[2022-06-08 08:54] rcastelo commented on #28
Dear Constantin, thanks for your prompt response. After some more investigation, I found out that you're right that the error referring to `rowMaxs()` and `dgeMatrix` objects is unrelated to the original question. However, I think this could be a minimal reproducible example of the original problem:

[code]
Tracing the execution confirms this:
[code]
One more question, I guess that, as you say, no

[2022-06-08 09:33] const-ae commented on #28
Hi Robert,

thanks for the reproducible example. Yes, you are right there is a bug in `rowLogSumExps()` and [fix_28](https://github.com/Bioconductor/MatrixGenerics/pull/29) addresses that. However, support for `dgeMatrix` objects is a different problem, which would require going through each function and adding a conversion of `dgeMatrix` to `matrix`. There was some talk about conversions with `as

[2022-06-08 12:49] rcastelo commented on #28
I see, thanks for the pointers. I'll take care then to track whenever a sparse matrix becomes dense (e.g., when taking logs) and then call the appropriate API. Please close this issue when your PR fixing the bug before is merged.

[2022-06-10 01:23] PeteHaitch commented on #28
Thanks for bringing this to our attention, @rcastelo.

@const-ae: https://github.com/Bioconductor/MatrixGenerics/pull/29 looks good to me, but by that logic I think similar fixes also need to be made to some other functions that don't take `x` as their first argument:

- `colAvgsPerRowSet()` / `rowAvgsPerRowSet()`

@hpages: Could you please confirm, because I don't properly understand `MatrixGener

[2022-06-24 00:57] #28 closed

[2022-06-24 01:10] PeteHaitch commented on #28
Thanks @rcastelo and @const-ae.
I've pushed @const-ae's fix to BioC.
Should be available from `BiocManager::install()` as `v1.9.1` in 1-2 days.
I will also backport this to the current release branch.

[2022-09-25 07:55] yojetsharma opened #30 "Error in MatrixGenerics while running Pando"
I ran the [Joint RNA and ATAC multiomic tutorial](https://stuartlab.org/signac/articles/pbmc_multiomic.html) till the Peak Calling and added MACS2 peak set to the Seurat Object (d149 in this case) and started running Pando from thereon. But later I get error in MatrixGenerics:::. I am not sure what I did wrong. Please help. I have ran this on 3 different systems and still getting the same error! I

[2022-09-26 22:44] PeteHaitch commented on #30
The hint is in this error message

[code]

**MatrixGenerics** provides the 'generic' function for functions such as `rowMaxs()` but not the actual methods[^1].
Other packages provide the actual methods, namely:

- [**matrixStats**](https://cran.r-project.org/package=matrixStats) for _matrix_ objects
- [**sparseMatrixStats**](https://bioconductor.org/packages/sparseMatrixStats/) for certain types o

[2022-09-26 22:44] #30 closed